$gap-size: 48px;

@mixin corner {
  border-radius: 4px;
  @media screen and (min-width: 1280px) {
    border-radius: 6px;
  }
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;

}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  padding: 48px 64px;
}

.sub-layout {
  margin-left: $gap-size/2;
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
}

.card {
  @include corner;
  background-color: #FFFFFF;
  border-style: none;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);

  &#code-editor-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: $gap-size/2;
    flex: 2 0 500px;
  }

  &#graph-editor-layout {
    margin-bottom: $gap-size/2;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  &#animation-layout {
    margin-top: $gap-size/2;
    flex: 1 1 auto;
  }
}

// Code Editor

.code-editor-title-bar {
  float: top;
  flex: 0 1 48px;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.code-editor-title {
  flex: 0 0 auto;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #8F8F8F;
  color: #8F8F8F;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.code-editor-menu {
  flex: 1 1 auto;
}

.code-editor-run {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}

.code-editor {
  flex: 1 1 auto;
}

// Graph Editor

.graph-editor {
  flex: 0 1 90%;
  width: 90%;
}