doctype html

html(lang=en)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#009688")
    title AM-Kit
  body
    .content
      .card#code
        .editor-title-bar
          .editor-title Interpolator
          .editor-menu
          .editor-run
            .icon-play
        textarea.code-editor#editor
      .sub-layout
        .card#graph
          | Graph
        .card#animation
          | Animation

