doctype html

html(lang=en)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#2979FF")
    title AM-Kit
  body
    .content
      .card#code-editor-layout
        .code-editor-title-bar
          .code-editor-title Interpolator
          .code-editor-menu
          .code-editor-run
            .icon-play
        .code-editor#editor
      .sub-layout
        .card#graph-editor-layout
          canvas.graph-editor#graph Not support Canvas
        .card#animation-layout
          .animation-target.icon-oval
          .animation-target.icon-triangle
    script#interpolator
